* {
    box-sizing: border-box;



}

body {
    overflow-x: hidden;

}


input {
    width: 100%;
    height: 50px;
    background-color: rgb(243, 237, 248);

}

.bg1 {

    background-color: rgb(196, 231, 209);
}

#error1 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error2 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error3 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error4 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error5 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error6 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error7 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

#error8 {
    color: rgb(255, 5, 5);
    font-weight: bold;
}

.box {
    border: 1px solid black;
    background-color: rgba(52, 51, 52, 0.822);
}

header {
    border-bottom: 1px solid black;
    width: 100%;
}

.image {
    background-image: url('fingerprint-login.webp');
 
background-repeat: repeat-x;

}
